.footer{
    background: rgb(56, 147, 207);
}
.footer h2 {
    color: white;
}
.footer p {
    color: rgb(232 228 228);
    margin-bottom: 10px;
}
.social-icon .icon{
    margin-right: 20px;
}
.social-icon p{
    font-size: 20px;
}

.footer-bootom {
    border-top: 1px solid rgb(204, 202, 202);
}